
body {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  /*text-transform: uppercase;*/
  /*font-weight: bold;*/
  /*overflow: hidden;*/
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding: 20px;
  margin-left: 75px;
}

.axis path {
  fill: none;
  stroke: #131313;
  stroke-width: 1.5;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: #131313;
}

.xlabel, .ylabel{
  font-weight: 700;
  font-size: 15px;
}

.grid .tick {
    stroke: #000000;
    opacity: 1;
}

.grid path {
      stroke-width: 0;
}

div.tooltip {
    position: absolute;
    top: 50%;
    text-align: left;
    width: 120px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    line-height: 15px;
    background: white;
    box-shadow: 1px 1px 1px 1px;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}
